body {
    font-style: italic;
    font-size: 65px;
    color: #fff;
    font-weight: bolder;
    background-image: url('Screenshot\ 2025-02-23\ 203205.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#ui {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    width: 1200px;
    height: 80px;
    background-color: transparent;
}

#ui:hover {
    background-color: #000;
}

#ui a {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #00ffff;
    text-decoration: none;
    padding: 0 23px;
    transition: 0.3s;
}

#ui a:hover {
    background-color: #00ffff;
    color: #000;
    box-shadow: 0 0 5px #03c1c1, 0 0 25px #03c1c1, 0 0 50px #03c1c1, 0 0 200px #03c1c1;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.scroll {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

input {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-size: large;
}

button {
    width: 150px;
    height: 60px;
    border-radius: 5px;
    border: none;
    position: relative;
    display: inline-block;
    color: #00ffff;
    font-weight: bold;
    transition: 0.3s;
    overflow: hidden;
    font-size: 1.2rem;
    background-color: transparent;
}

button:hover {
    background-color: #00ffff;
    color: black;
    box-shadow: 0 0 5px #03c1c1, 0 0 25px #03c1c1, 0 0 50px #03c1c1, 0 0 200px #03c1c1;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

button:active {
    background-color: #fff;
    box-shadow: 0 0 5px #cedede, 0 0 25px #cedede, 0 0 50px #cedede, 0 0 200px #cedede;
}

#end {
    text-decoration: none;
    animation: change 5s infinite;
}

@keyframes change {
    0% {
        color: #00ffff;
        text-shadow: #fff;
    }
    50% {
        color: #0000ff;
        text-shadow: #00ffff;
    }
    100% {
        color: #00ffff;
        text-shadow: #fff;
    }
}

.video_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.disLeft {
    float: left;
}

.disRight {
    float: right;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 10px;
}

/* infinite scroll */
.wrapper {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    );
}

@keyframes scrollLeft {
    to {
        left: -200px;
    }
}

.item {
    width: 200px;
    height: 100px;
    background-color: #00ffff;
    color: #000;
    border-radius: 6px;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    animation: scrollLeft 30s infinite;
    animation-timing-function: linear;
    animation-delay: -10s;
}

.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}